.careers-page {
    margin: auto;
    text-align: center;
}

#careers-header {
    margin: auto;
    text-align: center;
}

#careers-paragraph {
    margin: auto;
    text-align: center;
    min-width: 80vw;
}

.card-deck {
    margin: 1rem 0.5rem;
    min-width: 80vw;
}

.careers-message {
    margin: 1rem 0.5rem;
    margin-bottom: 20vw;
}

.white-text {
    color: #FFF;
}

@media only screen and (min-width: 576px) {

    .careers-page .btn-info {
        margin: 1rem 0.5rem;
    }
}

