.client-header {
    text-align: center;
    background-color: #D01992;
    color: #fff;
    margin: 0 0 1rem 0;
    padding: 0.5rem 0 0.5rem 0;
}

.client-form {
    margin: 1rem auto;
    width: 90vw;

}

.submit-button {
   
}

.create-client-placeholder-text {
    text-align: center;
    width: 45vw;
    font-size: .75rem;
}

#error-msg {
    margin: 1rem auto;
    width: 90vw;
}
.client-form .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0.5rem;
}
.steppers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.steppers .circle {
    background-color: #737373;
    color: #fff;
    border-radius: 25%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    
}
.steppers .horizontal-line hr {
    width: 20vw;
    border-top: .2rem solid #737373;
    border-radius: 0.5rem;

    
}
/*For small Tablets*/
@media only screen and (min-width: 576px) {
    .create-client-placeholder-text {
        text-align: center;
        width: 40vw;
        font-size: 1rem;
    }
    .steppers .circle {
        margin-left: 0.6rem;
    }
    .steppers .label {
        margin-top : 0.5rem;
    }
   
}
/*For Tablets*/
@media only screen and (min-width: 768px) {
   
    .client-form {
        width: 75vw;
    }

    .create-client-placeholder-text {
        width: 25vw;
    }
    #error-msg {
        width: 75vw;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 992px) {
    .client-form {
        width: 50vw;
    }
    .client-form input, #province, #accountType {
        font-size: 1.2rem;
    }
    .create-client-placeholder-text {
        font-size: 1.2rem;
    }
    #error-msg {
        width: 50vw;
    }
}
