/*Adds a Green Square around the header and centers it*/
.client-header {
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: 2em; /*16 x 2 = 32px*/
}

/*Adds a border to the entire section*/
.create-client {
    border: 5px;
}


/*Adds spacing between input fields*/
.create-client-fields {
    min-width: 160px;
    margin: 4%;
}

/*Centers the selector text*/
.create-client-form-field {
    text-align: center;
    font-size: 1em;
    margin-right: 5vw;
}

/*Centers the submit button*/
.submit-button {
    margin: auto;
    text-align: center;
}

/*Centers the error message*/
.client-error {
    margin: auto;
    text-align: center;
}

/*Centers the input text and gives a sharp border radius*/
.create-client-placeholder-text {
    margin-left: 5vw;
    text-align: center;
    border-radius: 0px;
    width: 160px;
    font-size: .75rem;
}

/*For Tablets*/
@media only screen and (min-width: 768px) {
    .client-header {
        border: 5px solid blue;
        font-size: 3em;
    }
    .create-client-fields {
        margin: 3%;
    }
    .create-client-form-field {
        font-size: 1.2em;
    }
    .create-client-placeholder-text {
        font-size: 1.2em;
        min-width: 160px;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 1200px) {
    .client-header {
        border: 7px solid red;
        font-size: 4em;
    }
    .create-client-fields {
        margin: 2%;
    }
    .create-client-form-field {
        font-size: 1.5em;
    }
    .create-client-placeholder-text {
        font-size: 1.5em;
        min-width: 180px;
    }
}
