/*Adds a Green Square around the header and centers it*/
.client-header {
    text-align: center;
    background-color: #D01992;
    color: #fff;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}

.client-form {
    margin: 1rem auto;
    width: 90vw;
}

/*Centers the submit button*/
.submit-button {
   margin: 1rem auto 1rem auto;
}

/*Centers the input text and gives a sharp border radius*/
.create-client-placeholder-text {
    
    text-align: center;
    width: 45vw;    
    font-size: .75rem;
}
/* For Create Account Page to keep section centered for both horizonal and vertically */
.create-client .create-account-section {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}
/* For Small Screens*/
@media only screen and (min-width: 576px) {
    .create-client-placeholder-text {
        text-align: center;
        width: 40vw;
        font-size: 1rem;
    }
}
/*For Tablets*/
@media only screen and (min-width: 768px) {
   
    .client-form {
        width: 75vw;
    }

    .create-client-placeholder-text {
        width: 25vw;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 992px) {
    .client-form {
        width: 50vw;
    }
    .client-form input, #province, #accountType {
        font-size: 1.2rem;
    }
    .create-client-placeholder-text {
        font-size: 1.2rem;
    }
}
