#landing-page-summary {
    margin: 0 0.5rem;
   
}
#landing-page-summary h1 {
    text-align: center;
    background-color: #D01992;
    color: #fff;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}
#landing-page-summary h2 {
    text-align: center;
    background-color: #EBE43B;
    color: #fff;
    margin: 0;
    padding: 1.5rem 0 1.5rem 0;
}
#landing-page-summary h3 {
    text-align: center;
    color: #514A4A;
    margin-top: 1rem;

}
#landing-page-summary .table-borderless {
    border: none;
}
    #landing-page-summary tr {
        display: flex;
        flex-direction: column;
        color: black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0.5rem 0;
        margin: 0.5rem 0 2rem 0;
        background-color: #f2f2f2;
    }
#landing-page-summary .flex-container {
    display:flex
}
#landing-page-summary th {
    width:50vw;
}
#landing-page-summary .account-type {
    color: #D01992;
}
#landing-page-summary .total-balance {
    border-top: 1px solid #000000;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
#landing-page-summary .view-transactions {
    align-items:center;
}

