.login-page {
    
}
.banner {
    background: url( '../img/banner320px.png' ) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
}
.login-prepend {
    margin: 1rem 0.5rem;
}

.login-submit {
    text-align: center;
}

.login-placeholder {
    width: 40vw;
}
#eye-icon {
    float: right;
    margin-left: -2rem;
    margin-top: 0.3rem;
    position: relative;
    padding-right: 1rem;
    color: #808080;
}
.login-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem 0;
    background-color: #f2f2f2;
    margin: 0.5rem 0.5rem 0 0.5rem;
    
}

#error-msg {
    text-align: center;
    margin: 0 0.5rem 0.5rem 0.5rem;
}
#become-client {
    margin: 1rem;
}


@media only screen and (min-width: 576px) {
    .banner {
        background: url( '../img/banner576px.png' ) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 226px;
    }
    .login-prepend {
        margin: 1rem 2rem;
    }

    .login-form {
        margin: 1rem auto;
        width: 80vw;
    }
    .login-placeholder {
        width: 20vw;
    }
    #banner-medium {
        width: 100%;
        height: 226px;
    }
    #error-msg {
        width: 80vw;
        margin: 0 auto;
    }
}
/*For Tablets*/
@media only screen and (min-width: 768px) {
    .banner {
        background: url( '../img/banner768px.png' ) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 226px;
    }
    .login-prepend {
        margin: 1rem 3rem;
    }

    .login-placeholder {
        width: 25vw;
    }

    .login-form {
        width: 65vw;    
    }
    #banner-large {
        width: 100%;
        height: 226px;
    }
    #error-msg {
        width: 65vw;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 992px) {
    .login-page {
        background: url( '../img/background.png' ) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100vh;
    }
    .banner {
        background: url( '../img/banner992px.png' ) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 226px;
    }
    .login-prepend {
        margin: 1rem 4rem;
    }
    .login-form {
        width: 50vw;
    }
    .login-placeholder {
        width: 15vw;
    }

    #banner-exlarge {
        width: 100%;
        height: 226px;
    }
    #error-msg {
        width: 50vw;
    }
}
