

/*Adds a border to the entire section*/
.login-page {
    border: 1vw;
}


/*Adds a Green Square around the header and centers it*/
.login-header {
    margin: auto;
    width: 100vw;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: 2em; /*16 x 2 = 32px*/
    background-color: #D01992;
    color: #fff;
    padding: 0.5rem 0 0.5rem 0;
}

/*Centers the submit button*/
.login-submit {
    margin: auto;
    text-align: center;
    padding: 1vw;
}
/*Centers the error message*/
.login-error {
    margin: auto;
    text-align: center;
}
/*Sets maxwidth for Input fields*/
.login-prepend {
    width: 80vw;
    max-width: 80vw;
    margin: 5vw;
    text-align: center;
    overflow: hidden;
}
/*Sets the widths for the Placeholder Text*/
.login-placeholder {
    min-width: 80px;
}

.white-text {
    color: #FFF;
}


/*Creates a 'card' around the deposit-form*/
.login-form {
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.5rem 0;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #f2f2f2;
}

/*For Tablets*/
@media only screen and (min-width: 768px) {
    .login-header {
        border: 5px solid blue;
        font-size: 3em;
    }

    .login-form {
        max-width: 75vw;
        margin: 0 auto 0 auto;
    }

    .login-prepend {
        max-width: 55vw;
        margin: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 1200px) {
    .login-header {
        border: 6px solid red;
        font-size: 4em;
    }

    .login-prepend {
        max-width: 50vw;
        margin: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}
