a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#basic-nav-dropdown {
    color: #17a2b8;
}
.hamburger-icon {
    border: 0.2rem solid #D01992 !important;
    border-radius: 0.5rem !important;
}
.navbar {
    padding: 0;
}
.nav-link {
    margin-left: 0.5rem;
   
}
.container {
    margin: 0;
    padding: 0;
}
#border-top {
    border-top: 0.15rem solid #808080;
}
@media only screen and (min-width: 576px) {
    #border-top {
        border-top: none;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        margin-left: 2rem;
        padding: 0 3rem;
    }

}