.bills-header {
    text-align: center;
    background-color: #D01992;
    color: #fff;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}

.bills-prepend {
    margin: 1rem 0.5rem;
}

.bills-submit {
    text-align: center;
}

.bills-placeholder {
    width: 30vw;
}

.bills-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem 0;
    background-color: #f2f2f2;
    margin: 1rem 0.5rem;
}

@media only screen and (min-width: 576px) {
    .bills-prepend {
        margin: 1rem 2rem;
    }

    .bills-form {
        margin: 1rem 2.5rem;
    }
}
/*For Tablets*/
@media only screen and (min-width: 768px) {
    .bills-prepend {
        margin: 1rem 3rem;
    }

    .bills-placeholder {
        width: 25vw;
    }

    .bills-form {
        margin: 1rem 3.5rem;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 992px) {
    .bills-prepend {
        margin: 1rem 4rem;
    }

    .bills-placeholder {
        width: 15vw;
    }

    .bills-form {
        margin: 1rem auto;
        width: 50vw;
    }
}
