

/*Adds a border to the entire section*/
.bills-page {
    border: 1vw;
}

/*Adds a Green Square around the header and centers it*/
.bills-header {
    margin: auto;
    width: 100vw;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: 2em; /*16 x 2 = 32px*/
    background-color: #D01992;
    color: #fff;
    padding: 0.5rem 0 0.5rem 0;
}
/*Centers the error message*/
.bills-error {
    margin: auto;
    text-align: center;
}
/*Centers the submit button*/
.bills-submit {
    margin: auto;
    text-align: center;
}
/*Sets maxwidth for Input fields*/
.bills-prepend {
    width: 80vw;
    max-width: 80vw;
    margin: 5vw;
    text-align: center;
    overflow: hidden;
}
/*Sets the widths for the Placeholder Text*/
.bills-placeholder {
    min-width: 80px;
}


/*Creates a 'card' around the bills-form*/
.bills-form {
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.5rem 0;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #f2f2f2;
}


/*For Tablets*/
@media only screen and (min-width: 768px) {
    .bills-header {
        border: 5px solid blue;
        font-size: 3em;
    }

    .bills-prepend {
        margin: 3vw;
        width: 90vw;
        max-width: 90vw;
    }
}

/*For Desktop Screens*/
@media only screen and (min-width: 1200px) {
    .bills-header {
        border: 6px solid red;
        font-size: 4em;
    }

    .bills-prepend {
        margin: 2vw;
        width: 95vw;
    }
}