#view-transactions-section {
   margin: 0 0.5rem;
}
#view-transactions h1 {
    text-align: center;
    background-color: #D01992;
    color: #fff;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
}
#view-transactions-section table {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;    
    margin-top: 0.5rem;
    background-color: #f2f2f2;
}
#view-transactions-section thead {
    background-color: #EBE43B;
}
#view-transactions-section #checkbox-section {
    margin-top: 1rem;
    box-shadow: 0px 4px 4px rgba(23, 162, 184, 0.60);
    border-radius: .5rem;
}

#checkbox-section input {
   transform: scale(1.5);
   float: right;
   margin: .3rem 2rem auto auto;
}

#checkbox-section label {
    font-size: 1.3rem;
    margin-left: 2rem;
}
#view-transactions-section p {
    margin: 1rem auto 5rem auto;
}
@media screen and (min-width: 576px) {
    #view-transactions-section table {
        width: 550px;
        margin: .5rem auto auto auto;
    }
    #view-transactions-section #checkbox-section {
        display: flex;
        justify-content: space-around;
        width: 550px;
        margin: 1rem auto auto auto;
    }
    #checkbox-section input {
        transform: scale(1.5);
        margin: 0.6rem auto auto 0.8rem;
    }

    #checkbox-section label {
        font-size: 1.3rem;
        margin-left: .5rem;
    }
}
@media screen and (min-width: 768px) {
    #view-transactions-section table {
        width: 700px;
    }
    #view-transactions-section p {
        width: 700px;
    }
    #view-transactions-section #checkbox-section {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #view-transactions-section table {
        width: 850px;        
    }
    #view-transactions-section p {
        width: 850px;
    }
    #view-transactions-section #checkbox-section {
        width: 850px;
    }
}

